/* ---- 일반 구조 선택자 ---- */

/*  A:first-child */
/* 형제들 중 첫 번째가 A가 맞다면 선택 */
#test1 > p:first-child{
    background-color: rgb(248, 164, 164);
    color : white;
  }

/*   A:last-child */
/* 형제들 중 마지막이 pre태그가 맞다면 선택 */
#test1 > pre:last-child{
    background-color: rgb(143, 136, 241);
    color : white;
  }

/*   A:nth-child(숫자 또는 수열)   */
/* 형제들 중 4번째가 p태그가 맞다면 선택 */
#test1 > p:nth-child(4){
    background-color: rgb(230, 230, 118);
  }
  
/*   A:nth-last-child(숫자 또는 수열) */
/*   형제들 중 뒤에서부터 홀수번째가 태그인 경우 선택 */
#test1 > p:nth-child(2n-1){
    text-decoration: line-through;
}

/*   A:nth-last-child(숫자 또는 수열) */
/*   형제들 중 뒤에서부터 짝수번째가 태그인 경우 선택 */
#test1 > p:nth-child(2n){
    font-family: 궁서체;
    font-weight: bold;
    font-size: 20px;
}

/* A:nth-last-child(숫자 또는 수열) */
/* 형제들 중 뒤에서부터 4번째가 p태그가 맞다면 선택 */
#test1 > p:nth-last-child(4){
    border: 2px dotted black;
}

/* --- 형태 구조 선택자 --- */
/* A:first-of-type */
/* 선택된 p태그 요소들 중 첫번째 선택 */
#test2 > p:first-of-type{
    background-color: tomato;
}

/* A:last-of-type */
/* 선택된 p태그 요소들 중 마지막 선택 */
#test2 > p:last-of-type{
    background-color: rgb(118, 165, 187);
}

/* A:nth-of-type(숫자 또는 수열) */
/* 같이 선택된 pre태그들 중 n번째 선택 */
#test2 > pre:nth-of-type(2){
    background-color: rgb(226, 206, 141);
}

#test2 > p:nth-of-type(2n){
    background-color: rgb(65, 63, 57);
    color:white;
}

/* A:nth-last-of-type(숫자 또는 수열) */
/* 같이 선택된 p태그들 중 뒤에서 2번째 선택 + hover */
#test2 > p:nth-last-of-type(2):hover{
    color: yellow;
}

/* 같이 선택된 p태그들 중 뒤에서 2번째 선택 + hover + 다음에 있는 p태그만! */
#test2 > p:nth-last-of-type(2):hover + p{
    color: yellow;
}

/* --- 부정 선택자 ( :not() ) --- */
/*  */
/* 3의 배수 선택 */
#test3 > li:nth-of-type(3n){
    background-color: pink;
}

/* 3의 배수 제외 선택 */
#test3 > li:not(:nth-of-type(3n)){
    background-color: rgb(149, 180, 149);
}

