:root{
    /* background-color: #ffe4c4; */
    --main-color : #3d0b0b;
    --main-bg-color: #faebd7;
    --main-bg-color1: #f7e1c4;
    --main-bg-color2: #f8d5ab;

    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 0.5px solid rgb(136, 131, 131); */
    color: var(--main-color);
    border-color: var(--main-color);
    font-family: 'SOYOMapleBoldTTF';

}

a{
    color : var(---main-color);
    text-decoration: none;
}

ul{
    list-style : none; /* 목록의 스타일(앞에 붙는 점) 제거 */
}

body{
    display: flex;
    flex-direction: column;
    padding: 0 15%;

    min-width: 768px;
    min-height: 100vh; /* 화면 높이 100% */
}



  /* -------------- logo -------------- */
.header-container{
    width: 100%;
    height: 110px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.logo{
    width: 100%;
    background-image: url(../images/img/logo1.png);
    background-size: auto 220%;
    background-repeat: no-repeat;
    background-position: center;
}

/* ------------- nav ------------- */
.nav{
    position: sticky;
    top: -1px;
    z-index: 1000;
}
.navbar{
    display: flex;
    justify-content: center;

    background-color: var(--main-bg-color1);
}

.navbar > li{
    width: 25%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > li > a{
    font-size: 1em;
    font-weight: bold;
    color: var(--main-color);
    padding: 3px 20px;
    text-align: center; 
}

.navbar > li > a:hover{
    text-decoration: underline;
    text-underline-position: under;
}

.navbar > li > a:last-child > i:hover{
    transform: scale(1.1);
}


/* ------------- main ------------ */
main{ 
    flex-grow : 1;
}

/* ------------- banner ------------ */
.banner-container{
    height: 300px;
}

.banner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../images/img/banner1.jpeg);
    background-size: auto 300%;
    background-repeat: no-repeat; 
    background-position: center;

}

/* ------------ 예약 달력 / 예약 ------------ */
.reserv-container{
    height: 300px;
    margin-top: 10px;
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);

}

#calendar {
    width: 30%;
    height: 280px;
    margin: 0 10%;
    object-fit: contain;
    align-content: start;
    
}
.fc .fc-button-primary {
    background-color: var(--main-bg-color2);
    border-color: var(---main-color);
    color: var(--main-color); */
}

.fc .fc-button-primary:disabled {
    background-color: var(--main-bg-color2);
    border-color: var(--main-color);
    color: var(--main-color);
}
.fc .fc-daygrid-more-link {
    visibility: hidden;
}
.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0.6em;
}
.fc table {
    font-size: 0.8em;
}
.fc .fc-view-harness {
    position: relative;
}

.reserv{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.reserv-container > .reserv-text{
    width: 100%;
    height: 100%;
    padding: 15% 30%;
}

#reserv-pre-text{
    line-height: 30px;
}
.reserv-button{
    text-align: right;
}
.reserv-button > button{
    width: 15em;
    font-size: 18px;
    border-radius:5px; 
    border: 2px solid var(--main-bg-color2);
    background-color: var(--main-bg-color2);
    color: var(--main-color);
    margin: 9px;
    padding: 15px 25px;
}

.reserv-button > button:hover{
    background-color: #ffcd90;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    min-width: 800px;
    max-width: 1440px;
    margin: auto;
  }
  
  /* 내용 행 */
  .content-row{
    margin: 5% 0;
    display: flex;
  }
  
  /* 썸네일 열 */
  .thumbnail-col{
    width: 400px;
    flex-shrink: 0;
  }
  
  /* 썸네일 이미지 */
  .thumbnail{
    width: 100%;
    height: auto;
  }

  .card-container{
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }
  
  /* 카드를 감싸는 요소(flex의 item) */
  .card-item{
    flex-shrink: 0;
    width: 21.85%;
    min-width: 200px; 
    padding: 30px 20px;
    margin: 20px;
    border-radius: 5%;
    background-color: var(--main-bg-color1);
    min-width: 200px; 
  }
  
  /* 카드 썸네일 */
 .card-thumbnail-container{
    height: auto;
  }
  
  .card-thumbnail{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 3%;
  }
  
  .card-item:hover{
    background-color: var(--main-bg-color2);
    border: 3px solid var(--main-bg-color2);
  }
  

/* 더보기 버튼 */
.board-button{
    text-align: center;
}
.board-button > button{
    width: 15em;
    font-size: 18px;
    border-radius:5px; 
    border: 2px solid var(--main-bg-color2);
    background-color: var(--main-bg-color2);
    color: var(--main-color);
    margin: 9px;
    padding: 15px 25px;
}

.board-button > button:hover{
    background-color: #ffcd90;
}


  

  footer{

    flex-grow: 0;
    flex-shrink: 0;
  
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  footer label{
    font-weight: bold;
    padding: 30px;
  }







@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}