:root{
    --main-color : rgb(61, 11, 11);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 0.5px solid rgb(136, 131, 131); 

}

a{
    color : black;
    text-decoration: none; /* 밑줄 제거 */
}

ul{
    list-style : none; /* 목록의 스타일(앞에 붙는 점) 제거 */
}

body{
    display: flex;
    flex-direction: column;
    padding: 0 15%;

    min-width: 768px;
    min-height: 100vh; /* 화면 높이 100% */
}



  /* -------------- logo -------------- */
.header-container{
    width: 100%;
    height: 110px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.logo{
    width: 100%;
    background-image: url(../images/img/logo1.png);
    background-size: auto 220%;
    background-repeat: no-repeat;
    background-position: center;
}

/* ------------- nav ------------- */
.nav{
    position: sticky;
    top: -1px;
    z-index: 1000;
}
.navbar{
    display: flex;
    justify-content: center;

    background-color: antiquewhite;
}

.navbar > li{
    width: 25%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > li > a{
    font-size: 1em;
    font-weight: bold;
    font-family: 'SOYOMapleBoldTTF';
    color: var(--main-color);
    padding: 3px 20px;
    text-align: center; 
}

.navbar > li > a:hover{
    text-decoration: underline;
    text-underline-position: under;
}

.navbar > li > a:last-child > i:hover{
    transform: scale(1.1);
}


/* ------------- main ------------ */
main{ 
    flex-grow : 1;
}

/* ------------- banner ------------ */
.banner-container{
    height: 300px;
}

.banner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../images/img/banner1.jpeg);
    background-size: auto 200%;
    background-repeat: no-repeat; 
    background-position: center;

}

/* ------------ 예약 달력 / 예약 ------------ */
.reserv-container{
    height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: row;


}

.reserv-container > div {
    width: 50%;
    /* flex-shrink: 0; */
}


#calendar {
    height: auto 150px;
    margin: 0 auto;
    object-fit: contain;
    
}









@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}